<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @deck.name %>
</p>
  <b>Current Attachment:</b>
  <%= image_tag @deck.doc.url(:thumb) %>
  <%= @deck.doc_file_name %>

  

  <h2>View Doc using Scribd_fu</h2>
  <%#= display_scribd(@deck) %>
  
<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
