<%= image_tag 'Slyde_logo.png', :width => "100px"%>
<br>
<br>
<p id="notice"><%= notice %></p>

  <%= raw @deck.display_ipaper %>
  
<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %> |
<%= link_to 'Home', root_path %>
