<!DOCTYPE html>
<html>
<head>
  <title>Slyde2</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= yield %>
<center>
	<% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
	<% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
	<% end %>
	<% if flash[:alert] %>
      <p class="alert"><%= flash[:alert] %></p>
	<% end %>
	
</center>
<br>
<ul class="hmenu">
  <%= render 'devise/registration_items' %>
  <%= render 'devise/login_items' %>
</ul>
</body>
</html>
